.git
.docker_ws
build
devel
install
log
logs
artifacts
docker_rootfs
docker-systemd
docker-daemon.json
marsim_ws
MARSIM
MARSIM_ros2
unitree_ros
test_interface/scripts/__pycache__
cascadePID/data
fuel_planner/utils/lkh_tsp_solver/resource/_quad_*_single.par
fuel_planner/utils/lkh_tsp_solver/resource/_quad_*_single.tsp
fuel_planner/utils/lkh_tsp_solver/resource/_quad_*_single.txt
